/prjContaCorrente/nbproject/private/
/prjContaCorrente/build/
/prjGameShop/nbproject/private/
/prjQuartoHotel/nbproject/private/
/prjGameShop/build/
/prjQuartoHotel/build/
/pjrHotel/nbproject/private/
/pjrHotel/build/